body {
    margin: 0;
    overflow: hidden;
  }
  canvas {
    display: block;
  }
  
  .game-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    border-radius: 4px;
    font-family: sans-serif;
  }
  
  .speed, .camera-hint {
    color: lightyellow;
    font-size: 14px;
  }
  
  .speed {
    margin-bottom: 4px;
  }
  